@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'animations';

// @include scrollbars(13px, $primaryColor, #FFF);

.header {
  background: #FFF;
  z-index: 11;
}

.topbar {
  background: $primaryColor;
  span {
    font-weight: 500;
  }
  .offer-button a {
    background: #000;
    color: #FFF;
    font: {
      size: 13.5px;
      weight: 500;
    }
  }
}

.header .logo {
  svg {
    height: 36px;
  }
}

.navbar-icons {
  right: 0;
}


.header-navbar {
  background: #FFF;
  z-index: 1;
  border-bottom: 1px solid #F0EFF2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 101px;
}

.navbar.navbar-light {
  .nav-item {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .nav-link {
    display: block;
    color: #000;
    font-size: 16px;
    &:hover {
      color: #000;
    }
  }
}

.navbar-light .navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: $primaryColor;
  border-color: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z'/%3E%3Cpath d='M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z'/%3E%3Cpath d='M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20 C512,404.954,503.046,396,492,396z'/%3E%3C/svg%3E%0A");
}


.btn-primary {
  color: #000;
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  span {
    color: #000 !important;
    font-size: 14px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: rgb(253, 241, 241);
  background-color: $primaryColor;
  border-color: $primaryColor;
}
.btn-primary:active {
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.btn-primary:hover {
  color: #000;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.content {
  flex: 1;
}

.btn-cta {
  border-radius: 10px;
  padding: 22px 45px 24px;
  background: #F24C00;
  color: #FFF;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(242, 76, 0, .5);
  font-weight: 600;
  svg {
    * {
      fill: #FFF;
    }
  }
  &:hover {
    color: #FFF;
  }
  &.bg-white {
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    svg {
      * {
        fill: #000 !important;
      }
    }
  }
}

.section-top {
  @media(min-width: 500px) {
    background-image: url("../images/hero-section-bg.jpg");
  }
  @media(max-width: 500px) {
    background-image: url("../images/hero-section-mobile.jpg");
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    content: '';
    background: linear-gradient(to right, rgba(112,54,0,.9) 30%,rgba(85,51,0,.015) 70%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .section-top-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 0 30px;
    width: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30%;
      height: 4px;
      background: #FFF;
      bottom: -25px;
      left: 2px;
    }
    @media(min-width: 700px) {
      width: 620px;
      padding: 0;
    }
    line-height: 56px;
  }
  .section-top-description {
    color: #FFF;
    font: {
      size: 17px;
      weight: 500;
    }
    line-height: 28px;
  }
  .btn-primary {
    a {
      font: {
        size: 15px;
        weight: 600;
      }
      color: #000;
    }
  }

  .section-image {
    img {
      max-width: 670px;
    }
    @media(max-width: 767px) {
      position: absolute;
      bottom: -150px;
      img {
        max-width: 320px !important;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .12);
        border-radius: 100rem;
      }
    }
  }
}

.section {
  .section-title {
    color: $titleColor;
    line-height: 44px;
    font: {
      family: 'Quicksand';
      size: 30px;
      weight: 700;
    }
  }
  .section-description {
    color: $textColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
  }
  .section-subtitle {
    color: $textColor;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
  }
}

.logo-section {
  border-bottom: 1px solid #F3F3F3;
  .logo {
    img {
      transition: 0.2s;
      opacity: .6;
    }
  }
}

.light-bg {
  background: $lightBg;
  border-top: 1px solid #FFE0D0;
  border-bottom: 1px solid #FFE0D0;
}



.testimonials {
  @media(min-width: 992px) {
    .col-lg-4 {
      flex: 0 0 29%;
      max-width: 29%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  .testimonial {
    box-shadow: 0 12px 80px rgba(0, 0, 0, .07);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    .testimonial-title {
      display: flex;
      margin-top: calc(-50px - 3.5rem);
      justify-content: center;
      width: 100%;
      color: $primaryColor;
      height: 50px;
      align-items: center;
      font: {
        size: 17px;
        weight: 600;
      }
      line-height: 25px;
    }
    .user-image {
      width: 104px;
      height: 104px;
      background: #F4F4F4;
    }
    .user-name {
      color: #33333B;
      font: {
        size: 17px;
        weight: 700;
      }
      line-height: 26px;
    }
    .user-feedback {
      color: #132152;
      line-height: 27px;
      font-size: 15px;
      font-style: italic;
    }
  }
}

.ingredients-section {
  position: relative;
  background: url('../images/ingredients.png');
  background-size: cover;
  background-position: center;
  @media(min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(186, 99, 0, .96);
  }
  .section-title {
    color: #FFF;
    font-size: 39px;
  }
  .section-subtitle {
    color: #FFF;
    font: {
      weight: 600;
      size: 21px;
      style: italic;
    }
  }
  .ingredient {
    @media(min-width: 1200px) {
      max-width: 20%;
      flex: 0 0 20%;
    }
    .ingredient-img {
      width: 159px;
      height: 159px;
      border: 5px solid #FFF;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .ingredient-title {
      color: #FFF;
      font-size: 18px;
      font-weight: 500;
    }
    .ingredient-description {
      font-size: 13px;
      color: #ffebe0;
      line-height: 28px;
    }
  }
}

.list-section {
  .list-group-item {
    color: #25283D;
    font: {
      size: 15px;
      weight: 500;
    }
  }
  .list-section-img {
    img {
      max-width: 100%;
    }
  }
  @media(min-width: 991.98px) {
    .list-section-img {
      max-width: 394px;
      flex: 0 0 394px;
      height: 369px;
      overflow: hidden;
      border-radius: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-14deg);
      img {
        max-width: 430px;
        object-fit: cover;
        transform: rotate(14deg);
      }
    }
  }
}

.why-waf-section {
  position: relative;
  background: url('../images/waffle-bg.png');
  background-size: cover;
  background-position: center;
  @media(min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(35,18,2,0.65);
  }
  .section-title {
    color: #FFF;
    font-size: 35px;
  }
  
  .why-waf {
    @media(min-width: 992px) {
      .col-lg-3 {
        flex: 0 0 22%;
        max-width: 22%;
      }
    }
    .feature {
      padding-bottom: 10px;
      .feature-icon {
        width: 91px;
        height: 91px;
        background: #FFF;
        img {
          height: 39px;
        }
      }
      .feature-title {
        color: #FFF;
        font: {
          size: 17px;
          weight: 700;
        }
        line-height: 26px;
      }
      .feature-description {
        color: #FFF;
        line-height: 27px;
        font-size: 14px;
        margin-bottom: 1rem;
      }
    }
  }
}


.will-my-kids-eat-it {
  height: 687px;
  .section-title {
    font-size: 35px;
  }
  .section-info {
    .section-text {
      color: #132152;
      font: {
        size: 18px;
        family: 'Quicksand';
        weight: 400;
      }
      line-height: 34px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url("../images/waffles-kid1.png");
      background-size: 100%;
      height: 687px;
      width: 436px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background: url("../images/waffles-kid2.png");
      background-size: 100%;
      height: 687px;
      width: 545px;
    }
  }

  @media(max-width: 1740px) {
    height: 551px;
    .section-info {
      &::before {
        width: 350px;
        height: 551px;
      }
      &::after {
        width: 438px;
        height: 551px;
      }
    }
  }

  @media(max-width: 1740px) {
    height: 551px;
    .section-info {
      &::before {
        width: 350px;
        height: 551px;
      }
      &::after {
        width: 438px;
        height: 551px;
      }
    }
  }

  @media(max-width: 1530px) {
    height: 520px;
    .section-info {
      align-items: center;
      &::before {
        width: 272px;
        height: 430px;
        top: unset;
      }
      &::after {
        width: 341px;
        height: 430px;
        top: unset;
      }
    }
  }

  @media(max-width: 1340px) {
    height: 520px;
    .section-title {
      font-size: 32px;
    }
    .section-info {
      align-items: center;
      &::before {
        width: 241px;
        height: 380px;
        top: unset;
      }
      &::after {
        width: 300px;
        height: 378px;
        top: unset;
      }
    }
  }

  @media(max-width: 1250px) {
    height: 520px;
    .section-title {
      font-size: 32px;
    }
    .section-info {
      align-items: center;
      &::before {
        width: 196px;
        height: 308px;
        top: unset;
      }
      &::after {
        width: 245px;
        height: 308px;
        top: unset;
      }
    }
  }

  @media(max-width: 992px) {
    height: auto;
    .section-info {
      align-items: center;
      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }
}

@media(min-width: 1200px) {
  .my-6 {
    margin-top: 12rem!important;
    margin-bottom: 12rem!important;
  }
}

@media(max-width: 1200px) {
  .my-6 {
    margin-top: 6rem!important;
    margin-bottom: 6rem!important;
  }
}


.section-row {
  .section-description {
    color: #606084;
    font-size: 15px;
  }
  .section-img {
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='2.97378' transform='matrix(-1 0 0 1 2.97385 2.97378)' fill='%23DCE2FF'/%3E%3C/svg%3E%0A");
      position: absolute;
      top: 100px;
      width: 37px;
      height: 263px;
    }
    &::after {
      content: '';
      background: #FFEACA;
      position: absolute;
      width: 290px;
      height: 290px;
      bottom: -30px;
      z-index: -1;
    }
  }
  .img-right {
    @media (min-width: 1200px) {
      flex: 0 0 421px;
      max-width: 421px;
    }
    &::before {
      left: -40px;
    }
    &::after {
      content: '';
      right: -30px;
      border-radius: 0 0 85px 0;
    }
    img {
      border-radius: 85px 0 85px 0;
    }
  }
  .img-left {
    @media (min-width: 1200px) {
      flex: 0 0 421px;
      max-width: 421px;
    }
    &::before {
      right: -40px;
    }
    &::after {
      content: '';
      left: -30px;
      border-radius: 0 0 0 85px;
    }
    img {
      border-radius: 0 85px 0 85px;
    }
  }
}


@media(min-width: 1200px) {
  .chefs {
    &::before {
      content: '';
      left: 0;
      position: absolute;
      background-color: #14214E;
      background-image: url("data:image/svg+xml,%3Csvg width='287' height='232' viewBox='0 0 287 232' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35.1815' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1815' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='128.396' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13018' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='35.1863' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='128.401' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='4.13024' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4476' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3963' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='97.4524' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='66.3964' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='190.662' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='190.667' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='159.611' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='228.315' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='196.292' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='164.27' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='132.248' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='100.226' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='68.2034' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='252.448' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='283.396' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='36.1815' r='3.3963' fill='white'/%3E%3Ccircle cx='252.452' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='283.401' cy='4.15899' r='3.3963' fill='white'/%3E%3Ccircle cx='221.396' cy='4.15899' r='3.3963' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      @media (max-width: 1920px) {
        width: 445px;
        height: 807px;
      }
      @media (max-width: 1850px) {
        width: 445px;
        height: 807px;
      }
      @media (max-width: 1560px) {
        width: 400px;
        height: 807px;
      }
      @media (max-width: 1480px) {
        width: 370px;
        height: 807px;
      }
      background-position: 82% 94%;
      border-radius: 0 100px 0 0;
    }
    .chefs-img {
      background: #FFF;
      box-shadow: 0 0 30px rgba(0, 0, 0, .12);
      border-radius: 50rem;
      overflow: hidden;
      border: 10px solid #FFF;
      @media (max-width: 1920px) {
        width: 564px;
        height: 564px;
        left: 144px;
      }
      @media (max-width: 1850px) {
        width: 500px;
        height: 500px;
        left: 180px;
      }
      @media (max-width: 1560px) {
        width: 500px;
        height: 500px;
        left: 135px;
      }
      @media (max-width: 1480px) {
        width: 470px;
        height: 470px;
        left: 115px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


.col-description {
  @media(min-width: 1750px) and (max-width: 1920px) {
    flex: 0 0 64%;
    max-width: 64%;
  }
  @media(min-width: 1200px) and (max-width: 1750px) {
    flex: 0 0 55%;
    max-width: 55%;
  }
  @media(min-width: 1200px) and (max-width: 1380px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media(min-width: 1200px) and (max-width: 1290px) {
    flex: 0 0 45%;
    max-width: 45%;
  }
}


.waffles {
  @media(min-width: 992px) {
    .col-lg-3 {
      flex: 0 0 23%;
      max-width: 23%;
    }
  }
  .waffle {
    background: #FEF8F3;
    .waffle-img {
      img {
        max-width: 100%;
      }
    }
    .waffle-title {
      color: #000;
      font: {
        size: 18px;
        weight: 400;
      }
    }
    .feature-description {
      color: #8496AA;
      line-height: 27px;
      font-size: 14px;
      margin-bottom: 1rem;
    }
    .btn-cta {
      border-radius: 5px;
      font-size: 13px;
      span {
        margin-top: -1px;
      }
    }
  }
}


.trust-reinforcement {
  .section-img {
    width: 34%;
    border-radius: 60px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .icons {
    width: 32%;
  }
  .icon {
    background: #FFF;
    border-radius: 33px;
    box-shadow: 0 9px 25px rgba(0, 0, 0, .04);
    margin: 16px 0;
    img {
      width: 78px;
      height: 78px;
    }
    span{ 
      font: {
        size: 12px;
        weight: 600;
      }
      line-height: 20px;
    }
  }
}


.section-img {
  img {
    width: 100%;
  }
}


.compare table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  
  th, td {
    padding: 1.5rem 1rem;
    border-top: none;
    border-bottom: 1px solid #F5F5F5;
    white-space: pre;
    font: {
      size: 15px;
      weight: 500;
    }
    color: #8496AA;
  }

  .title {
    color: $titleColor;
    font: {
      size: 15px;
      weight: 600;
    }
  }

  .primary {
    color: $titleColor;
  }
  
  thead th,
  tbody td {
    text-align: center;
  }
  
  thead {
    color: $titleColor;
    font-weight: 600;
    font-size: 15px;
  }
}

.value-reinforcement {
  background-color: $primaryColor;
  background-image: url('../images/image0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% center;
  @media(min-width: 1200px) {
    background-position: center 30%;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(25, 10, 0, 0.5);
  }
  .section-title {
    font: {
      size: 30px;
      weight: 700;
    }
    color: #FFF;
  }
  .btn-primary a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
}


.col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
  }
}


.compare .table2 {
  width: calc(100% - 1px);
  tbody tr th {
    border: none;
    border-right: 1px solid #F5F5F5;
  }
  thead tr td {
    border: none;
  }
  tbody tr {
    border-right: 1px solid #F5F5F5;
  }
  td {
    vertical-align: middle;
  }
  .emoji {
    font-size: 22px;
  }
}



.product-ingredient {
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  .ingredient-image {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    background: #FFF;
    padding: 5px;
    .ingredient-image-inner {
      width: 85px;
      height: 85px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .ingredient-title {
    color: #07093B;
    font: {
      size: 17px;
      weight: 600;
    }
    line-height: 1.5;
  }
  .learn-more {
    font-size: 15px;
    text-decoration: underline;
    &:hover {
      color: $primaryColor;
    }
  }
}


.modal-header {
  z-index: 1;
}

@media(max-width: 575.98px) {
  .modal-content {
    height: unset !important;
  }
}

.modal-body {
  @media(min-width: 500px) {
    .product-ingredient {
      max-width: 470px;
    }
  }

  .ingredient-title {
    font: {
      size: 36px;
    }
  }
  .ingredient-info {
    font: {
      size: 17px;
      weight: 400;
    }
    line-height: 33px;
  }
  .ingredient-image {
    box-shadow: none;
    background: none;
    padding: 0;
    .ingredient-image-inner {
      width: 100px;
      height: 100px;
      @media(min-width: 300px) {
        width: 220px;
        height: 220px;
      }
    }
      
  }
  @media(max-width: 575.98px) {
    .ingredient-title {
      font: {
        size: 20px;
      }
    }
    .ingredient-info {
      font: {
        size: 14px;
        weight: 400;
      }
      line-height: 27px;
    }
    .ingredient-image {
      box-shadow: none;
      background: none;
      padding: 0;
      .ingredient-image-inner {
        width: 100%;
        @media(min-width: 400px) {
          width: 220px;
          height: 220px;
        }
      }
    }
  }
}


.lSSlideOuter {
  overflow: hidden;
  user-select: none;
}

.lightSlider:after,.lightSlider:before {
  content: " ";
  display: table
}

.lightSlider {
  overflow: hidden;
  margin: 0
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative
}

.lSSlideWrapper>.lightSlider:after {
  clear: both
}

.lSSlideWrapper .lSSlide {
  transform: translate(0,0);
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform;
  transition-duration: inherit!important;
  transition-timing-function: inherit!important
}

.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0,0,0);
  user-select: none
}

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6F8FC;
  border: 1px solid #F6F8FC;
  img {
    opacity: .45;
  }
}

@media (max-width: 767px) {
  .lSSlideOuter .lSPager.lSGallery li {
    height:65px
  }
}

@media (max-width: 576px) {
  .lSSlideOuter .lSPager.lSGallery li {
    height:55px
  }
}

@media (max-width: 400px) {
  .lSSlideOuter .lSPager.lSGallery li {
    height:45px
  }
}

.lSSlideOuter .lSPager.lSGallery li a {
  height: 100%;
  display: flex
}

.lSSlideOuter .lSPager.lSGallery li.active {
  border: 1px solid #E6E9F1;
}

.lSSlideOuter .lSPager.lSGallery li.active img {
  opacity: 1;
}

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  max-width: 100%;
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.lSSlideOuter .lSPager.lSGallery:after,.lSSlideOuter .lSPager.lSGallery:before {
  content: " ";
  display: table
}

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both
}

.lSAction>.lSPrev, .lSAction>.lSNext {
  display: none;
}

.lSSlideOuter:hover .lSAction>.lSPrev, 
.lSSlideOuter:hover .lSAction>.lSNext {
  display: flex;
}

.lSAction>a {
  width: 52px;
  height: 52px;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,.03);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lSAction>a::before {
  color: #435ddc
}

@media (max-width: 575.98px) {
  .lSAction>a {
    width:40px;
    height: 40px;
    font-size: 15px
  }
}

.lSAction>.lSPrev {
  left: 30px
}

.lSAction>.lSPrev::before {
  content: '';
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='100' viewBox='0 0 50 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0 50L50 0V10L10 50L50 90V100L0 50Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='50' height='100' transform='matrix(-1 0 0 1 50 0)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.lSAction>.lSNext {
  right: 30px
}

.lSAction>.lSNext::before {
  content: '';
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='100' viewBox='0 0 50 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M50 50L0 0V10L40 50L0 90V100L50 50Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='50' height='100' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.lSAction>a.disabled {
  pointer-events: none
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  overflow: hidden
}

.lSSlideOuter.lSrtl {
  direction: rtl
}

.lSSlideOuter .lSPager,.lSSlideOuter .lightSlider {
  padding-left: 0;
  list-style: none outside none
}

.lSSlideOuter.lSrtl .lSPager,.lSSlideOuter.lSrtl .lightSlider {
  padding-right: 0
}

.lSSlideOuter .lSGallery li,.lSSlideOuter .lightSlider>* {
  float: left
}

.lSSlideOuter.lSrtl .lSGallery,.lSSlideOuter.lSrtl .lightSlider>* {
  display: flex
}

.lSSlideOuter .rightEnd {
  animation: rightEnd .3s;
  position: relative
}

.lSSlideOuter .leftEnd {
  animation: leftEnd .3s;
  position: relative
}

.lSSlideOuter.vertical .rightEnd {
  animation: topEnd .3s;
  position: relative
}

.lSSlideOuter.vertical .leftEnd {
  animation: bottomEnd .3s;
  position: relative
}

.lSSlideOuter.lSrtl .rightEnd {
  animation: leftEnd .3s;
  position: relative
}

.lSSlideOuter.lSrtl .leftEnd {
  animation: rightEnd .3s;
  position: relative
}

.lightSlider.lsGrab>* {
  cursor: -webkit-grab;
  cursor: grab
}

.lightSlider.lsGrabbing>* {
  cursor: move;
  cursor: grabbing
}

@media (min-width: 1200px) {
  .col-xl-size {
    flex: 0 0 45%;
    max-width: 45%
  }
}

.gallery li {
  height: 544px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #F6F8FC;
}

.gallery li img {
  object-fit: cover;
  max-height: 100%
}

@media (min-width: 992px) and (max-width:1199.98px) {
  .gallery li {
    height: 470px
  }
}

@media (max-width: 767.98px) {
  .gallery li {
    height:280px
  }
}

@media (max-width: 767px) {
  .gallery li {
    height:unset
  }
}

@media (max-width: 767px) {
  .gallery li img {
    object-fit: cover;
    max-height: unset;
    max-width: 100%
  }
}

.product-title {
  font: {
    size: 30px;
    weight: 600;
  }
}

.product-subtitle {
  font: {
    size: 17px;
    weight: 500;
  }
}

.reviews-title {
  font: {
    size: 13px;
    weight: 500;
  }
  color: $textColor;
}

.product-description {
  color: $textColor;
  font-size: 15px;
  line-height: 25px;
}

.choose-input {
  .title {
    font: {
      size: 15px;
    }
  }
  .custom-select {
    display: inline-block;
    width: 100%;
    height: 3rem;
    padding: .375rem 1.75rem .375rem 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%2398A5B2' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/15px 10px;
    border: 1px solid #F3F3F3;
    border-radius: .25rem;
    appearance: none;
  }
}

.checkboxes {
  .custom-control-label {
    font-size: 13px;
    &::before, &::after {
      top: -1.6px;
    }
  }
  .custom-control-label::before {
    border: #DCDCDC solid 1px;
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primaryColor;
    background-color: $primaryColor;
  }
  .custom-control-input:focus {
    border: none;
    box-shadow: none;
  }
}

.product-price {
  span {
    color: $primaryColor;
    font: {
      size: 27px;
      weight: 600;
    }
  }
}

.input-counter{
  position: relative;
  border: 1px solid #EEF0F3;
  border-radius: 5px;
  height: 46px;
}

.quantity-title {
  font-size: 14px;
  color: #242424;
}

.input-counter input{
  width: 100%;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 500;
  color: #000;
  background: none;
  padding: 0;
  margin-top: -2px;
}

.input-counter .counter-btn{
  display: inline-block;
  cursor: pointer;
  height: 100%;
  padding: 0 1rem;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  color: #d8d8d8;
  &.minus-btn {
    border-right: 1px solid #EEF0F3;
  }
  &.plus-btn {
    border-left: 1px solid #EEF0F3;
  }
}

.input-counter .minus-btn:before,
.input-counter .plus-btn:before{
  display: block;
  font-size: 12px;
  line-height: 50px;
}

.input-counter .minus-btn:before{
  content: '';
  width: 10px;
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='10' height='2' fill='black'/%3E%3C/svg%3E%0A");
}

// .input-counter .minus-btn:hover::before {
//   background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='10' height='2' fill='%23000'/%3E%3C/svg%3E%0A");
// }

.input-counter .plus-btn:before{
  content: '';
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 7V12H7V7H12V5H7V0H5V5H0V7H5Z' fill='black'/%3E%3C/svg%3E%0A");
}


// .input-counter .plus-btn:hover::before {
//   background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 6V10H6V6H10V4H6V0H4V4H0V6H4Z' fill='%23000'/%3E%3C/svg%3E");
// }

@media (max-width: 430px) {
  .add-product {
    flex-direction: column;
    .input-counter {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .add-to-cart {
      max-width: 100%;
      flex: 0 0 100%;
      margin: 1rem 0 !important;
      padding: 0;
    }
  }
}


.faq {
  .question-card {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    .question {
      padding: 18px 22px 22px;
      line-height: 26px;
      font: {
        size: 15px;
        weight: 500;
      }
      color: #6F83A0;
      &:hover {
        color: #6F83A0;
      }
    }
    .question-answer {
      font-size: 14px;
      line-height: 30px;
      color: $textColor;
    }
    .question::after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%236F83A0'/%3E%3Crect x='9' y='5' width='2' height='10' rx='1' fill='white'/%3E%3Crect x='5' y='11' width='2' height='10' rx='1' transform='rotate(-90 5 11)' fill='white'/%3E%3C/svg%3E%0A");
    }
    
    .question[aria-expanded='true'] {
      color: $primaryColor;
    }
    
    .question[aria-expanded='true']::after {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23FF9900'/%3E%3Crect x='5' y='11' width='2' height='10' rx='1' transform='rotate(-90 5 11)' fill='white'/%3E%3C/svg%3E%0A");
    }
    
    .question[aria-expanded='true']::before {
      transform: rotate(180deg);
    }    
  }
}

.review-stars {
  .reviews-quantity {
    .reviews-title {
      font-size: 17px;
    }
  }

  .stars-quantity {
    .progress {
      background: #EFF0F1;
      border-radius: 0;
      .progress-bar {
        background-color: $primaryColor;
      }
    }
  }

  .line {
    width: 1px;
    height: 100%;
    display: flex;
    background: #F5F5F5;
  }
}

.reviews-section {
  .reviews-title {
    border-bottom: 1px solid #F5F5F5;
    .title {
      color: $titleColor;
      border-bottom: 3px solid $primaryColor;
      font: {
        size: 15px;
        weight: 600;
      }
    }
  }

  .review {
    .user-img {
      width: 53px;
      height: 53px;
      background: #F2F2F2;
      img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }
    .about-user span {
      font: {
        size: 13px;
        weight: 500;
      }
    }

    .review-date {
      font: {
        size: 12px;
        weight: 500;
      }
    }

    .review-text {
      margin-left: 70px;
      .subject {
        font: {
          size: 14px;
          weight: 600;
        }
      }
      .text {
        color: $textColor;
        font: {
          size: 13px;
          weight: 500;
        }
        line-height: 23px;
      }
    }

    .review-buttons {
      .review-item {
        span {
          color: $titleColor;
          line-height: 21px;
          font: {
            size: 13px;
            weight: 500;
          }
          &:hover {
            color: $titleColor;
          }
        }
      }
    }
  }
}

.cart-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #FFF;
  z-index: 1;
  border-top: 1px solid #F8F8F8;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  .product-image {
    width: 89px;
    height: 80px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .product-title {
    font: {
      size: 19px;
      weight: 600;
    }
  }
  .product-price {
    font: {
      size: 18px;
      weight: 600;
    }
    color: $primaryColor;
  }
}


.offer {
  display: none;
}

.dialog {
  border-radius: 10px;
  text-align: center;
  .modal-title {
    font: {
      size: 15px;
      weight: 500;
    }
  }
  .logo a {
    outline: none;
    border: none;
    &::focus {
      outline: none;
      border: none;
    }
  }
  .modal-title-big {
    font: {
      size: 28px;
      weight: 600;
    }
    color: $titleColor;
  }
  .font-medium {
    font-weight: 500;
  }
  .modal-description {
    font-size: 14px;
    line-height: 20px;
  }
  .input-group {
    input {
      border: 1px solid #F5F5F5;
      font-size: 13px;
    }
  }

  .claim-offer label {
    font-size: 13px;
  }

  .close-modal {
    color: $textColor;
    font: {
      size: 13px;
      weight: 500;
    }
    text-decoration: underline;
  }
}

.ui-dialog-titlebar.ui-widget-header {
  border: none;
  background: none;
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem 1rem 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: relative;
  margin: 0;
  padding: 1px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%236F83A0'/%3E%3Crect x='16.0356' y='7.19669' width='2.5' height='12.5' rx='1.25' transform='rotate(45 16.0356 7.19669)' fill='white'/%3E%3Crect x='7.19629' y='8.96445' width='2.5' height='12.5' rx='1.25' transform='rotate(-45 7.19629 8.96445)' fill='white'/%3E%3C/svg%3E%0A");
  width: 25px;
  height: 25px;
  background-color: #FFF;
  border: none;
}

.ui-widget-overlay {
  background: #000;
}

.ui-widget.ui-widget-content {
  border: none !important;
  border-radius: 10px;
}

.ui-dialog-buttonpane {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  margin: 0 0 2rem 0 !important;
  button {
    padding: 0 !important;
    margin: 0 !important;
    color: $textColor;
    font: {
      size: 13px !important;
      weight: 500;
    }
    text-decoration: underline;
    background: none;
    border: none;
  }
  &.ui-widget-content {
    border: none;
  }
}

.footer {
  .footer-nav {
    ul li a {
      color: #000;
      font-size: 13px;
    }
  }
  .website-info span {
    color: $textColor;
    font-size: 13px;
    line-height: 23px;
  }
  .footer-title {
    color: $titleColor;
    font: {
      family: 'Quicksand';
      size: 20px;
      weight: 700;
    }
  }
  .footer-description {
    color: $textColor;
    font-size: 13px;
    line-height: 23px;
  }
  .input-group {
    input {
      border: 1px solid #F5F5F5;
      font-size: 13px;
    }
  }
  .follow {
    .title {
      color: $titleColor;
      font-size: 15px;
    }
    .social a {
      background: #F3F3F3;
      width: 34px;
      height: 34px;
    }
  }
}


@include media-breakpoint-down(lg) {
  .section-top {
    br {
      display: none;
    }
    .company-logo {
      img {
        width: 270px;
      }
    }
    .section-top-title {
      font-size: 30px;
      line-height: 50px;
    }
    .section-image {
      img {
        max-width: 100%;
      }
    }
  }

  .section {
    .section-title {
      font: {
        size: 22px;
        weight: 600;
      }
    }
    .section-description {
      font-size: 14px;
    }
  }
  
  .value-reinforcement {
    .section-title {
      font-size: 28px;
    }
  }

  .ingredients-section {
    .section-title {
      font-size: 30px;
    }
    .section-subtitle {
      font: {
        size: 18px;
      }
    }
  }
  
  .section-row {
    .section-img {
      order: 2;
    }
  }

  .trust-reinforcement {
    .icons {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0 !important;
      .icon {
        width: 150px;
        margin: 15px;
      }
      .icons-list {
        width: 100%;
        justify-content: center;
      }
      .icons-list-inner {
        display: flex;
        justify-content: center;
      }
    }
    .icon-inner {
      width: unset !important;
      padding: 0 !important;
    }
    .section-img {
      width: 75%;
      margin: 3rem 0 !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .logo-section {
    .logo {
      img {
        width: auto !important;
        height: 30px !important;
      }
    }
  }

  .sticky + .content {
    padding-top: 80px;
  }

  .testimonials {
    .testimonial {
      flex: 0 0 44% !important;
      max-width: 44% !important;
      margin-bottom: 6rem !important;
      margin-left: 3%;
      margin-right: 3%;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  
  .waffles {
    .waffle {
      flex: 0 0 44% !important;
      max-width: 44% !important;
    }
  }

  .trust-reinforcement {
    flex-wrap: wrap;
    justify-content: center !important;
    .icons {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 3rem 0;
    }
    .section-img {
      width: 100%;
      margin: 0 !important;
    }
  }

  .value-reinforcement {
    .section-title {
      font-size: 26px;
      line-height: 42px;
    }
    .btn-primary a {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }

  .footer-sections {
    justify-content: center !important;
    flex-wrap: wrap;
  }
}

@include media-breakpoint-down(sm) {
  .section-top {
    &::before {
      background: rgba(112,54,0,.75);
    }
    .section-top-title {
      display: flex;
      justify-content: center;
      &::after {
        left: unset;
      }
    }
  }
  .logo-section {
    .logo {
      img {
        width: auto !important;
        height: 25px !important;
      }
    }
  }
  .sticky + .content {
    padding-top: 0px;
  }

  .navbar.navbar-light {
    .navbar-collapse {
      position: absolute;
      top: 55px;
      z-index: 1;
      background: #FFF;
      min-width: 160px;
      border-radius: 5px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
    .nav-item {
      margin-left: 0;
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      margin-right: 0 !important;
      .nav-link {
        padding: 20px !important;
        width: 100%;
        text-align: center;
      }
      &.btn-primary {
        background-color: transparent;
        border-color: transparent;
        .nav-link {
          padding: 20px !important;
          color: #000;
        }
      }
    }
  }

  .navbar-nav {
    &.animated {
      animation-duration: 0s;
    }
  }

  .navbar-icons {
    position: relative !important;
  }

  .testimonials {
    .testimonial {
      flex: 0 0 60% !important;
      max-width: 60% !important;
      margin-bottom: 6rem !important;
      margin-left: 0;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .logo-section {
    padding: 0 !important;
    .logo {
      padding: 1rem 2rem 1rem 0;
      width: 50%;
      a {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      img {
        width: auto !important;
        height: 35px !important;
      }
    }
  }
  .section-top {
    .company-logo {
      img {
        width: 230px;
      }
    }
    .section-top-title {
      font-size: 25px;
      line-height: 37px;
      padding: 10px;
      margin-top: .5rem!important;
    }
    .section-top-description {
      font-size: 16px;
    }
  }

  .section {
    .section-title {
      font: {
        size: 20px;
      }
      line-height: 30px;
    }
    .section-description {
      font-size: 13px;
    }
  }

  .ingredients-section {
    .section-title {
      font-size: 26px;
      line-height: 38px;
    }
    .section-subtitle {
      font: {
        size: 18px;
      }
    }
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .testimonials {
    .testimonial {
      flex: 0 0 85% !important;
      max-width: 85% !important;
      margin-bottom: 6rem !important;
      margin-left: 0;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .waffles {
    .waffle {
      flex: 0 0 90% !important;
      max-width: 90% !important;
    }
  }

  .trust-reinforcement {
    .icons .icon {
      width: 140px;
      margin: 10px;
    }
    .section-img {
      width: 100%;
      margin: 0 !important;
    }
  }
  
  .compare table {
    th, td {
      font: {
        size: 13px;
      }
    }

    .title {
      font: {
        size: 13px;
      }
    }

    thead {
      font-size: 13px;
    }
  }
  
  .value-reinforcement {
    .section-title {
      font-size: 22px;
      line-height: 34px;
    }
  }

  .faq {
    .question-card {
      .question {
        font-size: 14px;
        line-height: 24px;
      }
      .question-answer {
        font-size: 13px;
        line-height: 23px;
      }
    }
  }

  
  .reviews-section {
    .reviews-title {
      border-bottom: 1px solid #F5F5F5;
      .title {
        color: $titleColor;
        border-bottom: 3px solid $primaryColor;
        font: {
          size: 15px;
          weight: 600;
        }
      }
    }

    .review {
      .review-date {
        margin: 15px 5px 0 !important;
      }

      .review-text {
        margin: 15px 5px 0 !important;
      }
    }
  }
  

  .ui-dialog {
    width: calc(100% - 4rem) !important;
    margin: 2rem !important;
  }

  .dialog {
    border-radius: 10px;
    text-align: center;
    .modal-title {
      font: {
        size: 15px;
        weight: 500;
      }
    }
    .modal-title-big {
      font: {
        size: 28px;
        weight: 600;
      }
      color: $titleColor;
    }
    .font-medium {
      font-weight: 500;
    }
    .modal-description {
      font-size: 14px;
      line-height: 20px;
    }
    .input-group {
      input {
        border: 1px solid #F5F5F5;
        font-size: 13px;
      }
    }
  
    .claim-offer label {
      font-size: 13px;
    }
  
    .close-modal {
      color: $textColor;
      font: {
        size: 13px;
        weight: 500;
      }
      text-decoration: underline;
    }
  }

}

@media (max-width: 536px) {
  .topbar {
    span {
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .section-top {
    .section-top-title {
      font-size: 22px;
      line-height: 33px;
      padding: 0;
    }
    .section-image {
      display: none !important;
    }
  }
  .header {
    .logo img {
      height: 35px;
    }
  }
}

@media (max-width: 320px) {
  .header .logo {
    display: none !important;
  }
}

@media (max-width: 350px) {
  .trust-reinforcement {
    .icons .icon {
      width: 150px;
      margin: 10px;
    }
  }
}

@media(max-width: 400px) {
  .dialog {
    .modal-title {
      font: {
        size: 13px;
      }
    }
    .modal-title-big {
      font: {
        size: 23px;
      }
    }
    .modal-description {
      font-size: 13px;
      line-height: 23px;
    }
    .btn-primary {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}